<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/" method="post">
            <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">New note</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">Tipe you want todo</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
  </div>

<table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Note</th>
        <th scope="col">Create at</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        <% if (note.length < 1) { %>
            <tr><th>empty</th></tr>
        <% } %>
        <% note.forEach(x => { %>
            <% i = 1 %> 
            <tr>
                <th scope="row" class="fs-5"><%= i %> </th>
                <td class="fs-5"><%= x.note %> </td>
                <td class="fs-5"><%= x.create_at %> </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a href="/delete/<%= x.id%>" class="btn btn-danger">Delete</a>
                        <a href="/edit/<%= x.id %> " class="btn btn-warning">Edit</a>
                    </div>
                </td>
            </tr>
            <% i++ %> 
        <% }) %>
    </tbody>
</table>